.main-content {
  padding: 1rem;
  background-color: black;
  min-height: 100vh;
  overflow-y: "scroll";
  display: flex;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}
.no-more-data {
  color: white;
  text-align: center;
}
.infinite-scroll-component__outerdiv {
  width: 100%;
}
@media (max-width: 400px) {
  /* Mobile styles: Display 2 cards in a row */
  .main-content {
    padding: 0.3rem;
  }
}
