.main-content {
  padding: 1rem;
  background-color: black;
  min-height: 100vh;
  overflow-y: "scroll";
  display: flex;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
}
.no-more-data {
  color: white;
  text-align: center;
}
.infinite-scroll-component__outerdiv {
  width: 100%;
}
