.movie-card {
  background-color: #333;
  color: white;
  width: 100%;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s;
  display: flex;
  border-radius: 0.5em;
  border: 1px solid grey;
  flex-direction: column;
}

.movie-card:hover {
  background-color: #555;
}

.movie-img {
  width: 100%;
  border-radius: 0.5em 0.5em 0em 0em;
  height: 24rem;
  transition: transform 0.3s ease-in-out;
}
.like-img {
  height: 20px;
  width: 20px;
  display: inline-block;
  top: 0.2em;
  left: 0.3em;
  position: relative;
}
.movie-card:hover {
  cursor: pointer;
  transform: scale(1.05); /* Enlarge image on hover */
}

.movie-card-content {
  height: 4rem;
  background-color: black;
  border-radius: 0em 0em 0.5em 0.5em;
  transition: background-color 0.3s;
}

/* Add click effect */
.movie-card:active .movie-card-content {
  background-color: #777;
}

.row {
  display: block;
  text-align: center;
  width: 100%;
  height: 2rem;
  font-weight: 500;
}

.row-title {
  height: 2.4rem;
}

.row-rating {
  height: 1.6rem;
}

.movie-year {
  color: white;
  text-align: left;
  padding: 1rem;
  width: 100%;
}

.line-clamp {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 748px) {
  /* Desktop styles: Display 4 cards in a row */
  .movie-card {
    max-width: calc(25% - 28px);
  }

  .movie-card:nth-child(4n) {
    margin-right: 7px; /* Clear the margin for the last card in each row */
  }
  .line-clamp {
    font-size: 1.5em;
  }
}

@media (min-width: 400px) and (max-width: 748px) {
  /* Tablet styles: Display 2 cards in a row */
  .movie-card {
    max-width: calc(50% - 20px);
    border-radius: 0.5em;
    margin: 10px;
  }
  .movie-img {
    max-height: 17rem;
    border-radius: 0.5em 0.5em 0em 0em;
  }
  .movie-card-title {
    height: 3rem;
    font-size: 1.3vh;
  }
  .movie-card-content {
    border-radius: 0em 0em 0.5em 0.5em;
  }
}

@media (max-width: 400px) {
  /* Mobile styles: Display 2 cards in a row */
  .movie-card {
    max-width: calc(50% - 20px);
    border-radius: 0.5em;
    margin: 10px;
  }
  .movie-img {
    max-height: 10rem;
    border-radius: 0.5em 0.5em 0em 0em;
  }
  .movie-card-title {
    height: 3rem;
    font-size: 1.3vh;
  }
  .movie-card-content {
    border-radius: 0em 0em 0.5em 0.5em;
  }
}
