.app-title {
  font-size: 3em;
  font-weight: 900;
  color: rgb(229, 9, 20);
  background-color: #333;
  text-align: left;
  font-family: "Helvetica";
  padding: 1rem;
}
/* Media query for screens 420px or less */
@media (max-width: 420px) {
  .app-title {
    font-size: 1.8em;
  }
}
