.header {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  width: 100%;
}

.menu-item {
  min-width: 4rem;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item.active {
  background-color: red;
  border-color: transparent;
}

/* Media query for screens 420px or less */
@media (max-width: 420px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .menu-item {
    min-width: 15rem;
  }
}
